/* @import url('https://fonts.googleapis.com/css?family=Alegreya&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;1,400&display=swap');
* {
  margin: 0;
  padding: 0;

  font-family: 'Alegreya', serif;
}

body {
  background: #fff;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #f30;
}

a:hover {
  color: #f90;
}

a.anchor { display: block; position: relative; top: -50px; visibility: hidden; }

#main {
  position: absolute;

  top: 40px;
  left: 280px;

  width: 500px;
}

#main h1 {
  font-size: 40px;
  font-weight: normal;

  line-height: 40px;

  letter-spacing: -1px;
}

#main p {
  margin: 20px 0;

  font-size: 15px;

  line-height: 20px;
}

#main ul, #main ol {
  margin: 20px;
}

#main li {
  font-size: 15px;

  line-height: 20px;
}

#main ul li {
  list-style-type: square;
}

#sidebar {
  /* position: absolute; */

  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */

  top: 40px;
  left: 20px;
  width: 200px;

  padding: 20px 20px 0 0;

  border-right: 1px solid #ccc;

  text-align: right;
}

#sidebar h2 {
  text-transform: uppercase;

  font-size: 13px;

  color: #333;

  letter-spacing: 1px;

  line-height: 20px;
}

#sidebar ul {
  list-style-type: none;

  margin: 20px 0;
}

#sidebar li {
  font-size: 14px;

  line-height: 20px;
}

/* custom elements */
figure {
  display: inline-block;
  margin: 20px; /* adjust as needed */
}

figure img {
  vertical-align: top;
  margin-bottom: 10px;
}

figure figcaption {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 13px;
}

img {
  max-width: 100%;
  height: auto;
}

/* Micro blogging styling */
.micro-block {
  display: block;
  width: auto;
  font-size: inherit;
  margin: 2rem;
  margin-left: 2rem;
  padding: 0.5em;
  padding-right: 0.5em;
  padding-left: 0.5em;
  padding-left: 0.75em;
  padding-right: 1em;
  background: hsl(60, 29%, 94%);
  border: 1px solid #ccb;
  border-left-color: rgb(204, 204, 187);
  border-left-style: solid;
  border-left-width: 1px;
  border-left: 0.4rem solid #ccb;
}

.micro-date {
  font-size: 11px;
  color: gray;
}

.micro-link {
  font-size: 11px;
  color: gray;
}