/* @import url('https://fonts.googleapis.com/css?family=Alegreya&display=swap'); */

@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "EB Garamond", serif;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #f30;
}

a:hover {
  color: #f90;
}

a.anchor {
  display: block;
  position: relative;
  top: -50px;
  visibility: hidden;
}

#main > h1 {
  font-size: 2.5em;
  font-weight: normal;
  line-height: 40px;
  letter-spacing: -1px;
  padding-left: 10px;
}

#main > p {
  padding-left: 20px 0;
  font-size: 1em;
  line-height: 20px;
}

#main > li {
  font-size: 1em;
  line-height: 20px;
}

#main > ul > li {
  list-style-type: square;
}

#main p {
  margin: 20px 0;
  font-size: 1em;
  line-height: 20px;
}

#main > ul,
#main > ol {
  padding-left: 35px;
  width: 90%;
}

#main li {
  font-size: 1em;
  line-height: 20px;
}

#main ul li {
  list-style-type: square;
}

/* custom elements */

figure {
  display: block;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top:10px;
  margin-bottom:10px;
}

figure > img {
  display: block;
  max-width: 500px;
}

img {
  display: block;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

figure > figcaption {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 0.9em;
}

.footnotes {
  font-size: 1.1rem;
  margin-top: 50px;
}

.footnotes > hr {
  border: none;
  height: 1px;
  background-color: #ccc;
  margin-bottom: 20px;
}

h2 {
  padding-top: 15px;
  padding-bottom: 15px;
}

h4 {
  font-size: 0.75rem;
}

.pagination li {
  display: inline;
}

.date {
  color: #777;
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

/* Micro blogging styling */

.micro-date {
  font-size: 0.75em;
  color: gray;
}

.micro-link {
  font-size: 0.75em;
  color: gray;
}

.micro-block > div {
  margin-top: 15px;
  margin-bottom: 25px;
}

/* Responsive design */

@media screen and (max-width: 499px) {
  body {
    background: #fff;
    font-size: 17px;
  }

  #navigation {
    width: 100%;
    z-index: 1;
    height: 50px;
    text-align: center;
    background: rgb(230, 230, 230);
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 10px;
  }

  h1 {
    font-size: 2.5em;
    font-weight: normal;
    line-height: 40px;
    letter-spacing: -1px;
    padding-left: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  #navigation > .nav-item {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.5rem;
  }
  #sidebar {
    display: none !important;
  }
  #content {
    position: absolute;
    top: 50px;
  }
  .container {
    width: 100%;
  }
  .micro-block {
    width: auto;
    font-size: inherit;
    margin-top: 2rem;
    padding-left: 0.75em;
    padding-right: 1em;
    border: 1px solid #ccb;
    border-left-color: rgb(204, 204, 187);
    border-left-style: solid;
    border-left-width: 1px;
    border-left: 0.4rem solid #ccb;
  }
}

@media screen and (min-width: 500px) {
  body {
    background: #fff;
    font-size: 17px;
  }

  #navigation {
    display: none !important;
  }

  h1 {
    font-size: 2.5em;
    font-weight: normal;
    line-height: 40px;
    letter-spacing: -1px;
    padding-left: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  #sidebar {
    position: fixed;
    z-index: 1;
    top: 6%;
    left: 0px;
    width: 20%;
    padding-top: 0px;
    padding-right: 20px;
    border-right: 1px solid #ccc;
    text-align: right;
    min-height: 100%;
    height: 100%;
  }
  .container {
    position: absolute;
    left: 20%;
    margin-left: 50px;
    max-width: 800px;
    top: 6%;
  }
  #sidebar > ul {
    list-style-type: none;
    margin: 20px 0;
  }
  #sidebar > li {
    font-size: 1em;
    line-height: 20px;
  }
  #sidebar h2 {
    text-transform: uppercase;
    font-size: 1em;
    color: #333;
    letter-spacing: 1px;
    line-height: 20px;
  }

  .micro-block {
    width: auto;
    font-size: inherit;
    margin-top: 2rem;
    margin-left: 2rem;
    padding-right: 0.5em;
    padding-left: 0.5em;
    padding-left: 0.75em;
    padding-right: 1em;
    border: 1px solid #ccb;
    border-left-color: rgb(204, 204, 187);
    border-left-style: solid;
    border-left-width: 1px;
    border-left: 0.4rem solid #ccb;
    
  }
}
