@font-face {
  font-family: JuliaMono-Regular;
  src: url("https://cdn.jsdelivr.net/gh/cormullion/juliamono/webfonts/JuliaMono-Regular.woff2");
}
body {
  font-family: Nunito;
  font-size: 13pt;
  color: #1b2d45;
}
#grid {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav content side"
    "footer footer footer";
  grid-template-columns: minmax(1.2rem, 1fr) minmax(auto, 57ch) minmax(
      1.2rem,
      1fr
    );
  grid-template-rows: 0 auto auto;
  column-gap: 1rem;
}
#sidebar {
  grid-area: nav;
  font-size: 0.95rem;
  margin-top: 1rem;
  margin-left: 2rem;
}
#sidebar-search {
  margin-bottom: 2rem;
}

#content {
  grid-area: content;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #00214d;
}
h1 {
  font-size: 200%;
}

h2 {
  font-size: 167%;
}
h3 {
  font-size: 133%;
  font-weight: normal;
}
pre {
  background-color: #eee !important;
  overflow-x: scroll;
  font-family: JuliaMono-Regular, monospace;
  font-size: 75%;
  padding: 1rem;
  border-radius: 0.4rem;
}
code {
  background-color: #eee !important;
  font-family: JuliaMono-Regular, monospace;
  font-size: 75%;
}
pre > code {
  font-size: 100%;
}
img {
  max-width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.katex {
  font-size: 1em !important;
}
.footer {
  margin-top: 3rem;
  font-size: 0.75rem;
  color: #ccc;
}
.cc-symbol {
  font-size: 1rem;
}
a,
a:visited {
  /*background-color: #00ebc7;*/
  /*color: #00214d;*/
  color: #ff5470;
  padding: 1px;
  border-radius: 2px;
  text-decoration: none;
}
a.footnote-ref {
  font-size: 0.9rem;
}
a.footnote-ref::before {
  content: "[";
}
a.footnote-ref::after {
  content: "]";
}
li.heading-3 {
  margin-left: 1.5rem;
  list-style: circle;
}
li.heading-3::before {
  color: #555;
}
a:hover {
  background-color: #ff5470;
  color: #fff;
}
a[href^="https://"],
a[href^="http://"]
{
  text-decoration: underline;
}

a[href^="https://"]:after,
a[href^="http://"]:after
{
  content: "\2609";
  text-decoration: none !important;
}

/* Dataframe styling */
.dataframe * {
  border-color: none !important;
  border: none !important;
  font-family: JuliaMono;
  font-size: 90%;
}
.dataframe th {
  background: #eee;
}
.dataframe td {
  text-align: right;
  min-width: 5em;
}

/* Format summary rows */
.dataframe-summary-row tr:last-child,
.dataframe-summary-col td:last-child {
  background: #eee;
  font-weight: 500;
}
.point {
  border-radius: 50%;
  padding: 1px 6px 1px 6px;
  font-size: 0.75rem;
  font-weight: bold;
  background: #000;
  color: #fff;
  text-align: center;
}
.footnote {
  font-size: 0.95rem;
}

@media screen and (max-width: 760px) {
  body {
    font-family: Nunito;
    font-size: 11pt;
    color: #1b2d45;
  }
  #grid {
    display: grid;
    grid-template-areas:
      "header header header"
      "nav content side"
      "footer footer footer";
    grid-template-columns: 0 100% 0;
    grid-template-rows: 50px auto 0;
    column-gap: 0;
  }
  #sidebar {
    grid-area: header;
    display: inline;
  }
  #sidebar-search {
    display: inline;
    max-width: 150px;
  }
  #sidebar-home {
    display: inline;
  }
  #sidebar-home::after {
    content: "/";
    margin-left: 5px;
  }
  #sidebar-all-pages {
    display: inline;
  }
  .footer {
    display: none;
  }
  #search_terms {
    max-width: 110px;
  }
  #search_button {
    width: 20px;
  }
  #sidebar-graph,
  #sidebar-contents {
    display: none !important;
  }
  #content {
    padding: 1rem;
  }
  ul {
    padding: 0.75rem;
  }
}

@media screen and (min-width: 760px) and (max-width: 1024px) {
  body {
    font-family: Nunito;
    font-size: 11pt;
    color: #1b2d45;
  }

  #grid {
    display: grid;
    grid-template-areas:
      "header header header"
      "nav content side"
      "footer footer footer";
    grid-template-columns:
      0.75fr
      minmax(auto, 57ch)
      0;
    grid-template-rows:
      0
      auto
      auto;

    column-gap: 0;
  }
  #header {
    grid-area: header;
    display: none;
  }
  #sidebar {
    grid-area: nav;
    font-size: 0.85rem;
  }
  #sidebar-search {
    margin-bottom: 1rem;
  }
  ul {
    padding: 0.75rem;
  }
}
